Hi <%= @topic.addressee.identity_value %>,

You've been asked a question by <%= @topic.owner.name %>.
<p>
<% @topic.body %> 
</p>

<div>
	<p>It would be nice of you to answer. You may also want to visit our site to the what this is all about...</p>
</div>